<!-- As a link -->
<div class="home">
    <div class="container">
        <div class="intro">
            <h1><i class="fas fa-university"></i></h1>
            <h2>welcome to our  system</h2>
        </div>
    </div>
    <div class="items">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="/home">
                        <i class="fas fa-home"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="/users">
                        <i class="fas fa-users"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="error">
                        <i class="fas fa-bug"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>